#root {
  max-width: 1590px;
  margin: 0 0;
  padding: 0; /* Remove padding to reduce extra space at the top */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* background-color: #333; */
  color: white;
}

.logo {
  height: 150px; /* Adjust the height as needed */
}

.read-the-docs {
  color: #888;
}

/* Carousel Stuff */
.carousel-container {
  width: 100vw;
  overflow: hidden; /* Hide overflow to prevent horizontal scrolling */
}

.carousel-track {
  display: flex;
  transition: transform 1s ease; /* Adjust the timing for a smoother transition */
}

.carousel-image {
  width: 100%;
  opacity: 0; /* Initially hide all images */
  position: absolute; /* Position images absolutely for individual control */
  transition: opacity 1s ease; /* Apply the same transition to each image */
}

.carousel-image.active {
  opacity: 1; /* Show the active image */
}


