/* Dance class details box */
.details-box {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Add padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    border: 1px solid #ced4da; /* Add border */
  }
  
  /* Comments box */
  .comments-box {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Add padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
    border: 1px solid #ced4da; /* Add border */
  }
  
  .title-wrapper {
    margin-right: 20px; /* Adjust margin-right as needed */
  }