.dance-class {
    background-color: rgba(255, 255, 255, 0.85); /* Set the background color with transparency */
    color: black; /* Set the text color to white */
  }
  
  .btn-more-info {
    background-color: black;
    color: orange;
  }
  
  .btn-subscribe {
    background-color: black;
    color: orange;
  }