.dance-class {
    background-color: rgba(255, 255, 255, 0.85); /* Set the background color with transparency */
    color: black; /* Set the text color to white */
  }
  
  .title {
    color: white; /* Set the title color to white */
  }